In [5]:
# 숫자형
a = 123
b = -178
c = 0

In [4]:
a

123

In [6]:
b

-178

In [7]:
c

0

In [9]:
a/4

30.75

In [10]:
a//4

30

In [11]:
a = 0.

In [12]:
a

0.0

In [15]:
a = 4E-10

In [16]:
a

4e-10

In [19]:
a = 0O177

In [20]:
a

127

In [23]:
b=0XABC

In [24]:
b

2748

In [25]:
a = 3
b = 4

In [26]:
a + b

7

In [27]:
a - b

-1

In [28]:
a * b

12

In [29]:
a / b

0.75

In [30]:
a // b

0

In [31]:
a % b

3

In [32]:
a ** b

81

In [33]:
pow(a,b)

81

In [34]:
# 문자열
"a"

'a'

In [35]:
'a'

'a'

In [37]:
a = '''
hello,
world
'''

In [38]:
print(a)

hello,
world

In [39]:
a

'\nhello,\nworld\n'

In [40]:
a = """
hello,
world
"""

In [41]:
print(a)

hello,
world

In [43]:
a = "Kim's favorit sport is foot ball"

In [44]:
a

"Kim's favorit sport is foot ball"

In [45]:
a = 'He said "Hello!"'

In [46]:
a

'He said "Hello!"'

In [47]:
a = 'a\', \"b'

In [48]:
a

'a\', "b'

In [49]:
print(a)

a', "b

\n: 줄 바꿈

\t: 탭 간격

\\: \ 문자로 사용

\': ' 문자로 사용

\": " 문자로 사용

In [50]:
a = 'python'
a * 2

'pythonpython'

In [51]:
b = 'test'
a + b

'pythontest'

In [52]:
print("=" * 50)
print("My program")
print("=" * 50)

==================================================
My program
==================================================

In [53]:
len(a)

6

In [54]:
a[3]

'h'

In [59]:
a[-2]

'o'

In [60]:
a[-0]

'p'

In [61]:
a = "Life is too short, you need python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [63]:
a[0:4] # 0 <= t < 4

'Life'

In [64]:
a[0:5]

'Life '

In [65]:
a[19:]

'you need python'

In [66]:
a[19::]

'you need python'

In [67]:
a[:17]

'Life is too short'

In [68]:
a[:]

'Life is too short, you need python'

In [69]:
a[19:-7]

'you need'

In [70]:
a = '20010331Rainy'
date = a[:8]
print(date)

20010331

In [71]:
weather = a[8:]
print(weather)

Rainy

In [78]:
year = a[:4]
print(year)

2001

In [79]:
day = a[4:8]
print(day)

0331

In [82]:
a = 'Pithon'
a[1] = 'y'
print(a)

TypeError: 'str' object does not support item assignment

In [85]:
a = a[:1] + 'y' + a[2:]
print(a)

Python

In [86]:
"I eat %d apples" % 3

'I eat 3 apples'

In [87]:
"I eat %s apples" % 'five'

'I eat five apples'

In [88]:
"I ate %d apples. so I was sick for %s days" % (10,'three')

'I ate 10 apples. so I was sick for three days'

In [89]:
number = 10
day = 'three'
"I ate %d apples. so I was sick for %s days" % (number,day)

'I ate 10 apples. so I was sick for three days'

%s: 문자열(string)

%c: 문자 1개(character)

%d: 정수(integer)

%f: 부동소수(floating-point)

%o: 8진수

%x: 16진수

%%: %

In [90]:
"Error is %d%" % 98

ValueError: incomplete format

In [91]:
"Error is %d%%" % 98

'Error is 98%'

In [92]:
'%10s' % 'hi'

'        hi'

In [93]:
'%10s' % 'hello'

'     hello'

In [94]:
'%-10s' % 'hi'

'hi        '

In [95]:
'%-10sJane' % 'hi'

'hi        Jane'

In [96]:
'%0.4f' % 3.141592

'3.1416'

In [97]:
'%10.4f' % 3.141592

'    3.1416'

In [99]:
print('%10.4f' % 3.141592)
print('%10.4f' % 10.57224863)
print('%10.4f' % 230.5845663)

    3.1416
   10.5722
  230.5846

In [102]:
"I ate {1} apples. so I was sick for {0} days".format(10,'three')

'I ate three apples. so I was sick for 10 days'

In [103]:
"{0:<10}".format("hi")

'hi        '

In [104]:
"{0:>10}".format("hi")

'        hi'

In [105]:
"{0:^10}".format("hi")

'    hi    '

In [106]:
"{0:=^10}".format("hi")

'====hi===='

In [107]:
"{0:!^10}".format("hi")

'!!!!hi!!!!'

In [108]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [109]:
"{0:0.4f}".format(3.141592)

'3.1416'

In [111]:
"{{ and }}".format()

'{ and }'

In [112]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [113]:
f'나는 내년에 {age+1}살이 된다.'

'나는 내년에 31살이 된다.'

In [115]:
d = {"name": '홍길동', "age": 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [116]:
f'{"hi":<10}'

'hi        '

In [117]:
f'{"hi":>10}'

'        hi'

In [118]:
f'{"hi":^10}'

'    hi    '

In [119]:
f'{"hi":=<10}'

'hi========'

In [120]:
y = 3.141592
f'{y:0.4f}'

'3.1416'

In [121]:
a = 'hobby'
a.count('b')

2

In [122]:
a.find('b')

2

In [123]:
a.find('y')

4

In [125]:
a.find('c')

-1

In [126]:
','.join('abcd')

'a,b,c,d'

In [127]:
a = 'hello'
a.upper()

'HELLO'

In [128]:
a

'hello'

In [129]:
b = 'HELLO'
b.lower()

'hello'

In [130]:
b

'HELLO'

In [131]:
c = 'HellO'
c.upper()

'HELLO'

In [132]:
c.lower()

'hello'

In [133]:
a = ' hi '
a.lstrip()

'hi '

In [134]:
a.rstrip()

' hi'

In [135]:
a.strip()

'hi'

In [136]:
a = 'Life is too short'
a.replace('Life', 'Your leg')

'Your leg is too short'

In [137]:
a

'Life is too short'

In [138]:
a.split()

['Life', 'is', 'too', 'short']

In [139]:
b='a:b:c:d'
b.split(':')

['a', 'b', 'c', 'd']

In [140]:
# 리스트형
odd = [1,3,5,7,9]

In [141]:
odd

[1, 3, 5, 7, 9]

In [142]:
a = [] # a = list()
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [143]:
d[-1]

'is'

In [144]:
e[-1]

['Life', 'is']

In [145]:
a = [1,2,3]
a

[1, 2, 3]

In [146]:
a[0] + a[2]

4

In [147]:
a[-1]

3

In [148]:
e[-1]

['Life', 'is']

In [149]:
e[-1][0]

'Life'

In [150]:
e[-1][1]

'is'

In [151]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

In [152]:
a[-1]

['a', 'b', ['Life', 'is']]

In [153]:
a[-1][-1]

['Life', 'is']

In [154]:
a[-1][-1][0]

'Life'

In [155]:
a[2][2][0]

'Life'

In [156]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [157]:
a[2:]

[3, 4, 5]

In [158]:
a[:3]

[1, 2, 3]

In [159]:
a = [1,2,3,['a','b','c'],4,5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [160]:
a[3][:2]

['a', 'b']

In [161]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [162]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [163]:
len(a)

3

In [164]:
a = [1,2,3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [165]:
str(a[2]) + "hi"

'3hi'

In [166]:
a = [1,2,3]
a

[1, 2, 3]

In [167]:
a[2] = 4

In [168]:
a

[1, 2, 4]

In [169]:
del a[1]

In [170]:
a

[1, 4]

In [171]:
a=[1,2,3,4,5]
del a[2:]

In [172]:
a

[1, 2]

In [173]:
a=[1,2,3]
a.append(4)

In [174]:
a

[1, 2, 3, 4]

In [175]:
a.append([5,6])

In [176]:
a

[1, 2, 3, 4, [5, 6]]

In [177]:
a = [1,4,3,2]
a.sort()

In [178]:
a

[1, 2, 3, 4]

In [180]:
a = ['a','c','b']
a.sort()

In [181]:
a

['a', 'b', 'c']

In [182]:
a.reverse()

In [183]:
a

['c', 'b', 'a']

In [184]:
a= [1,2,3]
a.index(3)

2

In [185]:
a.index(1)

0

In [186]:
a.index(5)

ValueError: 5 is not in list

In [187]:
a=[1,2,3]
a.insert(0,4)

In [188]:
a

[4, 1, 2, 3]

In [189]:
a.insert(2,5)

In [190]:
a

[4, 1, 5, 2, 3]

In [191]:
a.remove(3)

In [192]:
a

[4, 1, 5, 2]

In [193]:
a = [1,2,3,1,2,3]
a.remove(3)

In [194]:
a

[1, 2, 1, 2, 3]

In [195]:
a.remove(3)

In [196]:
a

[1, 2, 1, 2]

In [198]:
a = [1,2,3]
a.pop()

3

In [199]:
a

[1, 2]

In [200]:
a = [1,2,3]
a.pop(2)

3

In [201]:
a

[1, 2]

In [202]:
a = [1,2,3]
a.pop(1)

2

In [203]:
a

[1, 3]

In [204]:
a = [1,2,3,1]
a.count(1)

2

In [205]:
a = [1,2,3]
a.extend([4,5])

In [206]:
a

[1, 2, 3, 4, 5]

In [208]:
a = [1,2,3]
a + [4,5]

[1, 2, 3, 4, 5]

In [209]:
a = [1,2,3]
a+= [4,5]

In [210]:
a

[1, 2, 3, 4, 5]

In [211]:
# 튜플
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1, 2, 3
t5 = ('a','b',('ab','cd'))

In [212]:
t1 = (1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [213]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [214]:
t1[0]

1

In [215]:
t1[1:]

(2, 'a', 'b')

In [216]:
t1 * 3

(1, 2, 'a', 'b', 1, 2, 'a', 'b', 1, 2, 'a', 'b')

In [217]:
len(t1)

4

In [218]:
# 딕셔너리
dic = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [219]:
a = {1: 'hi'}

In [220]:
a = {'a': [1,2,3]}

In [221]:
a

{'a': [1, 2, 3]}

In [222]:
a = {1:'a'}

In [223]:
a[2] = 'b'

In [224]:
a

{1: 'a', 2: 'b'}

In [225]:
a['name']='pey'

In [226]:
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [227]:
del a[1]

In [228]:
a

{2: 'b', 'name': 'pey'}

In [229]:
a = {1:'a', 2:'b'}

In [230]:
a[1]

'a'

In [231]:
a[2]

'b'

In [234]:
a = {'a':1, 'b':2}

In [235]:
a['a']

1

In [236]:
a['b']

2

In [237]:
a = {1:'a', 1:'b'}

In [238]:
a[1]

'b'

In [239]:
a = {[1:2]: 'hi'}

SyntaxError: invalid syntax (<ipython-input-239-a76b05bcc62f>, line 1)

In [240]:
dic = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [241]:
a = list(dic.keys())

In [242]:
a

['name', 'phone', 'birth']

In [243]:
for k in dic.keys():
    print(k)

name
phone
birth

In [244]:
dic.values()

dict_values(['pey', '0119993323', '1118'])

In [245]:
b = list(dic.values())

In [246]:
b

['pey', '0119993323', '1118']

In [248]:
dic.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [249]:
dic.clear()

In [250]:
dic

{}

In [251]:
dic = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
dic.get('name')

'pey'

In [252]:
dic['name']

'pey'

In [253]:
dic['kkk']

KeyError: 'kkk'

In [254]:
dic.get('kkk')

In [255]:
print(dic.get('kkk'))

None

In [256]:
dic.get('foo', 'bar')

'bar'

In [257]:
dic

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [258]:
'name' in dic

True

In [259]:
'email' in dic

False

In [260]:
# 집합 자료형
s1 = set([1,2,3])
s1

{1, 2, 3}

In [261]:
s1 = set([1,2,3,1,1,4,5])
s1

{1, 2, 3, 4, 5}

In [262]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [263]:
s1

{1, 2, 3, 4, 5}

In [265]:
li = list(s1)

In [266]:
li

[1, 2, 3, 4, 5]

In [267]:
li[0]

1

In [268]:
s1 = set([1,2,3,1,1,4,5])
li = tuple(s1)

In [269]:
li

(1, 2, 3, 4, 5)

In [270]:
li[0]

1

In [271]:
a = [1,4,1,1,2,3,5,4]
a

[1, 4, 1, 1, 2, 3, 5, 4]

In [272]:
s = set(a)
a = list(s)

In [273]:
a

[1, 2, 3, 4, 5]

In [274]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [275]:
s1 & s2

{4, 5, 6}

In [276]:
s1.intersection(s2)

{4, 5, 6}

In [277]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [278]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [279]:
s1 - s2

{1, 2, 3}

In [280]:
s2 - s1

{7, 8, 9}

In [281]:
s1 = set([1,2,3])
s1.add(4)

In [282]:
s1

{1, 2, 3, 4}

In [283]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [284]:
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

In [285]:
# bool
a = True
b = False

In [286]:
type(a)

bool

In [287]:
type(b)

bool

In [288]:
1 == 1

True

In [289]:
2 > 1

True

In [290]:
2 < 1

False

"python" : 참

"": 거짓

[1,2,3]: 참

[]: 거짓

(): 거짓

{}: 거짓

1: 참

0: 거짓

None: 거짓

In [291]:
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [292]:
if []:
    print("True")
else:
    print("False")

False

In [293]:
if [1,2,3]:
    print("True")
else:
    print("False")

True

In [294]:
bool('a')

True

In [295]:
bool('python')

True

In [296]:
bool('')

False

In [297]:
# 변수
a = 1
b = 'python'
c = [1,2,3]

In [298]:
id(a)

140733532743440

In [299]:
id(b)

2055234261488

In [300]:
a = [1,2,3]
b = a

In [301]:
id(a)

2055266211136

In [302]:
id(b)

2055266211136

In [303]:
a is b

True

In [304]:
a[1] = 4

In [305]:
a

[1, 4, 3]

In [306]:
b

[1, 4, 3]

In [307]:
b[2] = 2

In [308]:
b

[1, 4, 2]

In [309]:
a

[1, 4, 2]

In [310]:
a = [1,2,3]
b = a[:]

In [311]:
a[1] = 4

In [312]:
a

[1, 4, 3]

In [313]:
b

[1, 2, 3]

In [314]:
id(a)

2055265034496

In [315]:
id(b)

2055264252864

In [316]:
a is b

False

In [318]:
from copy import copy
a = [1,2,3]
b = copy(a)

In [319]:
a[1] = 4
a

[1, 4, 3]

In [320]:
b

[1, 2, 3]

In [321]:
a, b = ('python', 'life')

In [322]:
a

'python'

In [323]:
b

'life'

In [324]:
(a, b) = ('python', 'life')

In [325]:
a

'python'

In [326]:
b

'life'

In [327]:
[a, b] = ['python', 'life']

In [328]:
a

'python'

In [329]:
b

'life'

In [330]:
a = b = 'python'

In [331]:
a

'python'

In [332]:
b

'python'

In [333]:
a = 3
b = 5
c = a
a = b
b = c

In [334]:
a

5

In [335]:
b

3

In [336]:
a = 3
b = 5
a,b = b,a

In [337]:
a

5

In [338]:
b

3

Q: 자연수 13이 홀수인지 짝수인지 판별하라.

In [339]:
13 % 2

1

Q: (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력하라.

In [341]:
a =  (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

Q: a = [1,1,1,2,2,3,3,3,4,4,5]일 때 a 리스트에서 중복을 제거하라.

In [343]:
a=[1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]